@import "scss/material.variables";
@import "scss/material.themes";
@import "scss/mixins/bi-app/bi-app-ltr";
// Core Variables and Mixins
@import "scss/app.variables";
@import "scss/mixins";
// Core Styles
@import "scss/core";
@import "scss/material";
@import "scss/utilities/utilities";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
.mat-divider{
  background-color:unset !important;
}
.sbl-circ-dual {
  z-index: inherit;
  height: 78px;
  width: 78px;
  color: yellow;
  display: inline-block;
  position: fixed;
  top: 47%;
  right: 47%;
  border: 4px solid;
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate 1s linear infinite;
}

.layer {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  opacity: .05;
  background-color: rgb(0,0,0);
}

////loader

.cssloader {
  position: fixed;
  top: 51%;
  left: 47%;
  margin-left: -30px;
  margin-top: -29px;
  display: none;
}

/** loader **/
.sh1 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: rgb(253, 216, 4) transparent transparent transparent;
  margin: 0 auto;
  animation: shk1 1.2s ease-in-out infinite normal;
}

.sh2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent black transparent;
  margin: -50px auto 0;
  animation: shk2 1.2s ease-in-out infinite alternate;
}

/** animation starts here **/
@keyframes shk1 {
  0% {
    transform: rotate(-360deg);
  }

  100% {
  }
}

@keyframes shk2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
  }
}

.lt {
  padding-top: 20px;
  color: black;
  margin: 30px auto;
  text-align: center;
  font-weight: 100;
  letter-spacing: 3px;
}


.sbl-circ-dual::after {
  content: '';
  height: 50%;
  width: 50%;
  display: block;
  color: inherit;
  margin: 15.4px auto;
  position: relative;
  border: 4px solid;
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate .5s linear infinite reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  margin:1px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
